---
layout: default
title: Blog
lang: tr
---
{% include language-utils.html %}

<ul class="menu">
  <li><span class="menu__item menu__item_selected" href="/">{{ t.nav.blog }}</span></li>
  <li><a class="menu__item" href="/projects/">{{ t.nav.projects }}</a></li>
  <li><a class="menu__item" href="/resume/">{{ t.nav.resume }}</a></li>
  <div class="spacer"></div>
</ul>

<div class="post">

  <div class="about-image">
    <div class="tamagotchi-container">
      <img src="/i/tamo.png" alt="Profile Image" />
      <div class="tamagotchi-message">Hey! 👋</div>
    </div>
  </div>

  <div class="about">
    <div class="about_inner">
      <p>{{ t.homepage.greeting }}</p>
      <p>{{ t.homepage.intro }}</p>
    </div>
  </div>

  {% assign published_posts = site.posts | where_exp: "post", "post.draft != true" | where_exp: "post", "post.hidden != true" %}
  
  {% comment %} Group posts to avoid duplicates from translations {% endcomment %}
  {% assign unique_posts = "" | split: "" %}
  {% assign processed_groups = "" | split: "" %}
  
  {% for post in published_posts %}
    {% assign should_include = true %}
    
    {% if post.translations %}
      {% comment %} Create a consistent group identifier by sorting translation URLs {% endcomment %}
      {% assign translation_urls = "" | split: "" %}
      {% for translation in post.translations %}
        {% assign translation_urls = translation_urls | push: translation.url %}
      {% endfor %}
      {% assign translation_urls = translation_urls | sort %}
      {% assign group_id = translation_urls | join: "|" %}
      
      {% comment %} Check if we already processed this translation group {% endcomment %}
      {% for processed_group in processed_groups %}
        {% if processed_group == group_id %}
          {% assign should_include = false %}
          {% break %}
        {% endif %}
      {% endfor %}
      
      {% if should_include %}
        {% assign processed_groups = processed_groups | push: group_id %}
      {% endif %}
    {% endif %}
    
    {% if should_include %}
      {% assign unique_posts = unique_posts | push: post %}
    {% endif %}
  {% endfor %}

  {% assign posts_by_year = unique_posts | group_by_exp: "post", "post.date | date: '%Y'"  %}
  {% for year in posts_by_year %}
    <h1>{{ year.name }}</h1>
    {% for post in year.items %}
      {% comment %} Find the Turkish version of this post for display {% endcomment %}
      {% assign display_post = post %}
      {% assign display_url = post.url %}
      
      {% if post.translations %}
        {% comment %} Look for Turkish version {% endcomment %}
        {% for translation in post.translations %}
          {% if translation.lang == 'tr' %}
            {% comment %} Find the actual Turkish post {% endcomment %}
            {% for site_post in site.posts %}
              {% if site_post.url == translation.url %}
                {% assign display_post = site_post %}
                {% assign display_url = site_post.url %}
                {% break %}
              {% endif %}
            {% endfor %}
            {% break %}
          {% endif %}
        {% endfor %}
      {% endif %}
      
      {% comment %} Determine language indicators {% endcomment %}
      {% assign lang_indicators = "" %}
      {% if post.lang == 'en' %}
        {% assign lang_indicators = "[EN]" %}
      {% elsif post.lang == 'tr' %}
        {% assign lang_indicators = "[TR]" %}
      {% else %}
        {% assign lang_indicators = "[TR]" %}
      {% endif %}
      
      {% comment %} Check if translations exist {% endcomment %}
      {% if post.translations %}
        {% assign has_en = false %}
        {% assign has_tr = false %}
        {% if post.lang == 'en' %}
          {% assign has_en = true %}
        {% elsif post.lang == 'tr' %}
          {% assign has_tr = true %}
        {% else %}
          {% assign has_tr = true %}
        {% endif %}
        
        {% for translation in post.translations %}
          {% if translation.lang == 'en' %}
            {% assign has_en = true %}
          {% elsif translation.lang == 'tr' %}
            {% assign has_tr = true %}
          {% endif %}
        {% endfor %}
        
        {% if has_tr and has_en %}
          {% assign lang_indicators = "[TR/EN]" %}
        {% elsif has_en %}
          {% assign lang_indicators = "[EN]" %}
        {% else %}
          {% assign lang_indicators = "[TR]" %}
        {% endif %}
      {% endif %}
      
      <p>{% if display_post.starred %}<div class="tooltip">★ <span class="tooltiptext">{{ t.post.starred_tooltip }}</span></div>{% endif %} {% if display_post.music %}<div class="tooltip">♫ <span class="tooltiptext">{{ t.post.music_tooltip }}</span></div>{% endif %} {% if display_post.geo %}<div class="tooltip">☉ <span class="tooltiptext">{{ t.post.geo_tooltip }}</span></div>{% endif %}<a href="{{ display_url }}"> {{ display_post.title }}</a> <span class="language-indicator">{{ lang_indicators }}</span> <span class="date">{% include short-date.html date=display_post.date %}</span>
    {% endfor %}
  {% endfor %}

<p class="comments">
  
</p>

</div>
