---
layout: default
title: Blog
---

<ul class=menu>
  <li><span class="menu__item menu__item_selected" href="/">Blog</span></li>
  <li><a class="menu__item" href="/projects/">Yaptıklarım</a></li>
  <li><a class="menu__item" href="/resume/">Özgeçmiş</a></li>
  <div class="spacer"></div>
</ul>

<div class="post">

  <div class="about">
    <div class="about_inner">
      <p>Merhaba</p>
      <p>Ben Mert, <del>Karışık Kaset</del> ve <a href="https://medium.com/@mertturunc" >Medium</a> üzerinden denediğim blog işini kendime ait bir siteye taşımak istedim. Blog ile beraber arada ürettiğim işleri de eklemeyi düşünüyorum.</p>
    </div>
  </div>

  {% assign published_posts = site.posts | where_exp: "post", "post.draft != true" %}
  {% assign posts_by_year = published_posts | group_by_exp: "post", "post.date | date: '%Y'"  %}
  {% for year in posts_by_year %}
    <h1>{{ year.name }}</h1>
    {% for post in year.items %}
      <p>{% if post.starred %}<div class="tooltip">★ <span class="tooltiptext">yıldızlı</span></div>{% endif %} {% if post.music %}<div class="tooltip">♫ <span class="tooltiptext">müzik</span></div>{% endif %}<a href="{{ post.url }}">{{ post.title }}</a> <span class="date">{{ post.date | date: "%-m/%-d"}}</span>
    {% endfor %}
  {% endfor %}

<p class=comments>
  
</p>

</div>
