.r-link {
  --uirLinkDisplay: var(--rLinkDisplay, inline-block);
  --uirLinkTextColor: var(--rLinkTextColor);
  --uirLinkTextDecoration: var(--rLinkTextDecoration, none);

  display: var(--uirLinkDisplay) !important;
  color: var(--uirLinkTextColor) !important;
  text-decoration: var(--uirLinkTextDecoration) !important;
}

/* The component will reset browser's styles of titles */

.r-title {
  --uirTitleMarginTop: var(--rTitleMarginTop, 0);
  --uirTitleMarginBottom: var(--rTitleMarginBottom, 0);

  margin-top: var(--uirTitleMarginTop) !important;
  margin-bottom: var(--uirTitleMarginBottom) !important;
}


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'body';
  src: url('/fonts/IBMPlexSans-Text.woff') format('woff');
}

@font-face {
  font-family: 'body';
  font-style: italic;
  src: url('/fonts/IBMPlexSans-TextItalic.woff') format('woff');
}

@font-face {
  font-family: 'body';
  font-weight: 800;
  src: url('/fonts/IBMPlexSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'mono';
  src: url('/fonts/IBMPlexMono-Text-Latin1.woff') format('woff');
}

body {
  font: 18px/28px body, sans-serif;
}

pre,
code {
  font-family: mono, monospace;
}

span {
  color: #c6cfd2;
}

body {
  background-color: #1e1d1d;
  /* fallback */
  color: #c6cfd2;
  -webkit-font-feature-settings: "kern"1, "liga"1, "calt"1;
  -moz-font-feature-settings: "kern"1, "liga"1, "calt"1;
  font-feature-settings: "kern"1, "liga"1, "calt"1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 50px auto;
}

.page {
  width: 600px;
  margin: 0 auto;
  padding: 0 0 0 2px;
}

.page_wide {
  width: 810px;
}

.menu {
  width: 544px;
  margin: 0 auto 0;
  padding: 0 0 50px 0;
  vertical-align: top;
  display: flex;
}

.menu>li {
  list-style: none;
  margin: 0 1em 0 0;
  vertical-align: top;
}

.menu__item,
a.menu__item {
  color: #d9d9d9;
  border-color: transparent;
  display: inline-block;
  margin-left: 0;
}

.menu__item_selected,
a.menu__item_selected,
a.menu__item:hover {
  color: #2a748c;
  border-bottom: 2px solid #2a748c;
}

.menu__item_inside,
a.menu__item_inside {
  border-bottom: 2px solid #2a748c;
}

.spacer {
  flex-grow: 1;
}


.post {
  width: 544px;
  margin: 15px auto;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #2a748c;
  margin-left: 0.25em;
}

a:hover {
  border-color: currentColor;
}

p,
blockquote {
  margin: 15px 0;
}

h1+p+blockquote {
  margin-bottom: 30px;
  margin-right: 1em;
}

blockquote {
  padding-left: 1em;
  color: #eaa251;
}

blockquote::before {
  content: "> ";
  float: left;
  margin: 0 0 0 -1em;
}

.quote-author {
  text-align: right;
  font-size: 15px;
  color: #ff9b37
}

strong {
  font-weight: 700;
}

h1,
h2 {
  margin: 2.5em 0 0.5em;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.4em;
}

h1+h2 {
  margin: -0.75em 0 0.9em;
}

.title {
  font-size: 2.5em;
  line-height: 50px;
  margin: 1.5em 0 0.75em 0;
}

p>img,
.fig,
figure {
  margin: 2em 0;
}

img {
  max-width: 100%;
}

.fig,
figure {
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  font-style: italic;
}

@media (min-width: 600px) {

  .fig,
  figure {
    width: 600px;
    margin-left: -28px;
    margin-right: -28px;
  }
}

.fig img,
figure>img,
figure>video,
figure>a>img {
  margin: 0 auto 1em;
  display: block;
  border-radius: 3px;
}

figure>video {
  max-width: 100%;
}

.label {
  text-align: center;
  font-size: 12px;
  font-style: italic;
  margin: -1em 0 1em 0;
}

code {
  font-style: normal;
  background: rgba(0, 0, 0, 0.06);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 17px;
}

pre {
  font-size: 16px;
  background: rgba(0, 0, 0, 0.06);
  padding: 16px 30px 14px;
  margin: 1em -30px;
  border-radius: 8px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-style: normal;
}

pre>code {
  background: none;
  padding: 0;
  font-size: inherit;
  white-space: unset;
}

ul {
  padding: 0 0 0 1em;
  list-style-type: square;
}

ul>li,
ol>li {
  margin: 0.5em 0;
}

sup,
sub,
.note-ref,
.note-number {
  vertical-align: baseline;
  position: relative;
  font-size: .7em;
  line-height: 1;
}

sup,
.note-ref,
.note-number {
  bottom: 1.4ex;
}

sub {
  top: .5ex;
}

.about_inner {
  font-size: 16px;
  line-height: 24px;
  border: 2px solid #2a748c;
  border-radius: 4px;
  padding: 10px 20px;
  margin: -12px -22px;
}

.about_inner>p {
  margin: 0 0 8px;
}

.btn-subscribe {
  line-height: 20px;
  text-decoration: none;
  background: #3a3a3a;
  border: none;
  font-size: 12px;
  padding: 0px 7px;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  top: -1px;
}

.btn-subscribe:hover {
  background: #2a748c;
}

.btn-subscribe>svg {
  width: 21px;
  height: 21px;
  vertical-align: bottom;
  margin: 0 -2px 0 -5px;
}

.footnote {
  margin: 0 5px;
}

.footnotes-br {
  width: 100px;
  height: 2px;
  background: #000000;
  margin-top: 5em;
}

.footnotes>ol {
  padding-left: 1em;
}

.notes {
  font-size: 0.8em;
}

.note-number {
  margin-left: -1em;
}

.date {
  color: #ffffff8c;
  font-size: 14px;
  margin-left: 4px;
}

.footer {
  color: #ffffff8c;
}

.footer {
  font-size: 16px;
  margin-bottom: 5em;
}

.footer>.separator {
  margin: 0 4px;
}

.footer>a {
  margin-right: 5px;
}

.footer>a:hover {
  color: #2a748c;
}

.hoverable {
  object-fit: cover;
  object-position: center top;
}

.hoverable.clicked {
  object-position: center bottom;
}

@media (hover: hover) {
  .hoverable.clicked:hover {
    object-fit: cover;
    object-position: center top;
  }

  .hoverable:hover {
    object-position: center bottom;
  }
}

.preload::after {
  content: '';
  background-image: url(/i/flashlight.png);
}


.popup {
  color: #ffffff8c;
}

.popup:hover {
  color: #2a748c !important;
}

.tooltip {
  position: relative;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 60px;
  background-color: #1e1d1d;
  color: #c5cfd2;
  text-align: center;
  border-radius: 10px;
  padding: 2px;
  font-size: 11pt;
  right: 125%;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #1e1d1d;
  width: 100%;
  height: 100%;
  font-size: 16px;

}


.animated-underline {
  --uiAnimatedUnderlineWidth: var(--animatedUnderlineWidth, 100%);
  --uiAnimatedUnderlineHeight: var(--animatedUnderlineHeight, 2px);
  --uiAnimatedUnderlineBgColor: var(--animatedUnderlineBgColor, currentColor);
  --uiAnimatedUnderlinePositionX: var(--animatedUnderlinePositionX, left);
  --uiAnimatedUnderlinePositionY: var(--animatedUnderlinePositionY, bottom);

  /*
		1. For multi-line animated underline the "inline" value for the display property is compulsory.
		2. Adds opportunity to create multi-line padding
	*/

  --rLinkDisplay: inline;
  /* 1 */

  background-image: linear-gradient(0, var(--uiAnimatedUnderlineBgColor) 0, var(--uiAnimatedUnderlineBgColor));
  background-size: var(--uiAnimatedUnderlineWidth) var(--uiAnimatedUnderlineHeight);
  background-position: var(--uiAnimatedUnderlinePositionX) var(--uiAnimatedUnderlinePositionY);
  background-repeat: no-repeat;

  -webkit-box-decoration-break: clone;
  /* 2 */
  box-decoration-break: clone;
  /* 2 */

  will-change: background-size;
  transition: background-size .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*
=====
SETTINGS
=====
*/

:root {
  --animatedUnderlineHeight: 0.70rem;
  --animatedUnderlineBgColor: var(--accentColor);
}

.animated-underline_type1 {
  --animatedUnderlineWidth: 100%;
}

.animated-underline_type1:hover {
  --animatedUnderlineHeight: 100%;
}

.animated-underline_type2 {
  --animatedUnderlineWidth: 100%;
}

.animated-underline_type2:hover {
  --animatedUnderlineWidth: 0;
}

.animated-underline_type3 {
  --animatedUnderlineHeight: 0;
}

.animated-underline_type3:hover {
  --animatedUnderlineHeight: 100%;
}

.animated-underline_type4 {
  --animatedUnderlineWidth: 0;
}

.animated-underline_type4:hover {
  --animatedUnderlineWidth: 100%;
}

.animated-underline_type5 {
  --animatedUnderlineWidth: 100%;
  --animatedUnderlineHeight: 5px;
  --animatedUnderlinePositionY: 90%;
}

.animated-underline_type5:hover {
  --animatedUnderlineHeight: 1rem;
}

:root {
  --mainColor: #673AB7;
  --accentColor: #2a748c;
  --accentColorDark: #f15493;
  --blackColor: #c5cfd2;
  --whiteColor: #fff;
  --rLinkTextColor: var(--blackColor);
}

.news__title {
  line-height: 1.25;
}
