{% capture mapbox_src %}https://api.mapbox.com/styles/v1/{{ include.style }}.html?title=false&access_token={{ site.mapbox_access_token }}&zoomwheel=false#{{ include.view }}{% endcapture %}
<div class="sketchfab-embed-wrapper">
  <iframe title="{{ include.title }}" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="100%" height="300" src="{{ mapbox_src }}"{% if include.lazy %} loading="lazy"{% endif %}></iframe>
</div>
