---
layout: default
---
<ul class=menu>
  <li><a class="menu__item menu__item_inside" href="/">Blog</a></li>
  <li><a class="menu__item" href="/projects/">Yaptıklarım</a></li>
  <li><a class="menu__item" href="/resume/">Özgeçmiş</a></li>
  <div class="spacer"></div>
</ul>


<div class="post">
  <h1 class="title">{{ page.title }}</h1>

  <p>{{ page.permalink }}</p>

  {{ content }}

  <p class=footer>
    <span>{{ page.date | date: "%B %-d, %Y" }}</span>
    {% if page.related_url and page.related_title %}
      <span class="separator">·</span>
      <span>Related</span>
      <a href="{{ page.related_url }}">{{ page.related_title }}</a>
    {% endif %}
<!--
    {% if page.hackernews_id or page.hackernews_id_2 or page.reddit_url or page.reddit_url_2 %}
      <span class="separator">·</span>
      <span>Discuss on</span>
      {% if page.hackernews_id %}
        <a href="https://news.ycombinator.com/item?id={{ page.hackernews_id }}" target="_blank">HackerNews</a>
      {% endif %}
      {% if page.hackernews_id_2 %}
        <a href="https://news.ycombinator.com/item?id={{ page.hackernews_id_2 }}" target="_blank">More HackerNews</a>
      {% endif %}
      {% if page.reddit_url %}
        <a href="{{ page.reddit_url }}" target="_blank">Reddit</a>
      {% endif %}
      {% if page.reddit_url_2 %}
        <a href="{{ page.reddit_url_2 }}" target="_blank">More Reddit</a>
      {% endif %}
    {% endif %}
    -->
  </p>

  <script>
    document.querySelectorAll(".hoverable").forEach(function (e) {
        e.onclick = function() { e.classList.toggle("clicked"); }
    });
  </script>

  {% if page.hide_about %}  
  {% else %}
  <div class="about">
    <div class="about_inner">
      <p>Merhaba</p>
      <p>Ben Mert, <del>Karışık Kaset</del> ve <a href="https://medium.com/@mertturunc" >Medium</a> üzerinden denediğim blog işini kendime ait bir siteye taşımak istedim. Blog ile beraber arada ürettiğim işleri ve özgeçmişimi eklemeyi düşünüyorum.</p>
    </div>
  </div>
  {% endif %}

</div>
