---
layout: default
---
<ul class=menu>
  <li><a class="menu__item menu__item_inside" href="/">Blog</a></li>
  <li><a class="menu__item" href="/projects/">Yaptıklarım</a></li>
  <li><a class="menu__item" href="/resume/">Özgeçmiş</a></li>
  <div class="spacer"></div>
</ul>

<div class="post">
  <h1 class="r-title news__title">
						<a href="#0" class="r-link animated-underline animated-underline_type1 news__link">
							{{ page.title }}
						</a>
  </h1>

  <p>{% include read_time.html %}</p>

  <p>{{ page.permalink }}</p>

  {{ content }}

  <p class=footer>
    <span>{{ page.date | date: "%B %-d, %Y" }}</span>
    {% if page.related_url and page.related_title %}
      <span class="separator">·</span>
      <span>Related</span>
      <a href="{{ page.related_url }}">{{ page.related_title }}</a>
    {% endif %}
  </p>

  <script>
    document.querySelectorAll(".hoverable").forEach(function (e) {
        e.onclick = function() { e.classList.toggle("clicked"); }
    });
  </script>

  {% if page.hide_about %}  
  {% else %}
  <div class="about">
    <div class="about_inner">
      <p>Merhaba</p>
      <p>Ben Mert, <del>Karışık Kaset</del> ve <a href="https://medium.com/@mertturunc" >Medium</a> üzerinden denediğim blog işini kendime ait bir siteye taşımak istedim. Blog ile beraber arada ürettiğim işleri de eklemeyi düşünüyorum.</p>
    </div>
  </div>
  {% endif %}

</div>
